.container {
  margin-top: 88px;
}
.iconDiv {
  background: #f7f7f7;
  height: 100px;
  width: 100px;
  position: absolute;
  border-radius: 50%;
  top: 50%;
  left: 50%;
  transform: translate(-41%, -68%);
  border: 1px solid #e3e3e3;
}
.maindiv {
  margin-top: 80px;
  cursor: pointer;
}
.maindiv:hover .iconDiv {
  background-color: white;
}
.icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.title {
  margin-bottom: 60px;
}
.title h1 {
  font-family: "Switzer-Variable";
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 64px;
  letter-spacing: -0.002em;
  color: black;
  margin-bottom: 19px;
}
.title p {
  font-family: "Switzer-Variable";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  margin-top: 19px;
  text-align: center;
  color: black;
  margin: 0;
}
.row {
  margin-top: -12px;
  width: 1012px;
  margin-left: 114px;
}

.heading {
  text-align: center;
  margin-top: 62px;
  margin-bottom: 50px;
}
.heading h1 {
  font-family: "Switzer-Variable";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 34px;
  color: black;
  margin: 0;
  margin-bottom: 10px;
}
.heading p {
  font-family: "Switzer-Variable";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 26px;
  text-align: center;
  color: #666666;
  max-width: 293px;
  margin: 0;
}
.i {
  font-size: 35px;
}

@media (min-width: 320px) and (max-width: 767px) {
  .container {
    margin-top: 38px;
  }
  .title {
    margin-bottom: 30px;
  }
  .title h1 {
    font-size: 28px;
    line-height: 50px;
    letter-spacing: -0.002em;
    margin-bottom: 0;
  }
  .title p {
    font-size: 14px;
    line-height: 25px;
    margin-top: 0;
  }
  .maindiv {
    margin-top: 32px;
    cursor: pointer;
  }

  .heading {
    text-align: left;
    margin-top: 62px;
  }
  .heading h1 {
    font-size: 18px;
    line-height: 34px;
    margin-bottom: 0;
    text-align: center;
  }
  .heading p {
    font-size: 14px;
    line-height: 26px;
    max-width: 293px;
    margin: 0;
  }
  .iconDiv {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .row {
    margin-top: -12px;
    width: 100%;
    margin-left: 0;
    margin-top: 55px;
  }
}
