.iconDiv {
  background: #f7f7f7;
  height: 100px;
  width: 100px;
  position: absolute;
  border-radius: 50%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 1px solid #e3e3e3;
}
.main {
  margin-top: 112px;
}
.maindiv {
  margin-top: 80px;
}
.icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.mainHeading {
  margin-bottom: 100px;
  text-align: center;
}
.mainHeading h1 {
  font-family: "Switzer Variable";
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 64px;
  text-align: center;
  letter-spacing: 0;
  color: #000000;
}
.mainHeading p {
  font-family: "Switzer Variable";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  text-align: center;
  color: #000000;
}
.row {
  margin-top: -62px;
  width: 1100px;
  margin-left: 80px;
}

.heading {
  text-align: center;
  margin-top: 78px;
}
.heading h1 {
  font-family: "Switzer Variable";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 34px;
}
.heading p {
  font-family: "Switzer Variable";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 26px;
  text-align: center;
  color: #666666;
  max-width: 268px;
  margin-left: 70px;
}
.i {
  font-size: 35px;
}
@media (max-width: 360px) {
  .main {
    margin-top: 30px;
  }
  .mainHeading {
    margin-bottom: 80px;
  }
  .mainHeading h1 {
    font-size: 42px;
  }
  .mainHeading p {
    font-size: 16px;
  }
  .i {
    font-size: 22px;
  }
  .iconDiv {
    height: 85px;
    width: 85px;
    /* top: 50%;
    left: 50%;
    transform: translate(-50%, -22%); */
    border: 1px solid #e3e3e3;
    /* text-align: center; */
  }
  .heading {
    margin-top: 70px;
  }
  .heading h1 {
    font-size: 20px;
  }
  .heading p {
    font-size: 14px;
  }
  .maindiv {
    margin-top: 65px;
  }
  .row {
    margin-top: -70px;
  }
}
