.container {
  margin-top: 80px;
}
.row {
  margin-left: 20px;
}
.card {
  box-sizing: border-box;
  border: 1px solid rgba(228, 228, 231, 0.8);
  border-radius: 12px;
  padding: 32px;
  margin-bottom: 24px;
}

.smallHeading {
  font-family: "Switzer-Variable";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 26px;
  color: #666666;
  margin: 0;
  margin-bottom: 8px;

}
.b {
  margin-top: 15px;
}
.heading {
  font-family: "Switzer-Variable";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 34px;
  color: #000000;
  margin: 0;
}
.card:hover .heading {
  color: #ff5a5f;
}

.md {
  font-family: "Plus Jakarta Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: #a4a4a4;
  margin-right: 8px;
}
.btn {
  font-family: "Plus Jakarta Sans";
  border: 1px solid #e4e4e7;
  background: #f7f7f7;
  border-radius: 4px;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  color: #000000;
  margin-right: 12px;
  padding: 4px 12px 4px 12px;
}
.img {
  margin-top: 24px;
  height: 280px;
  overflow: hidden;
  border-radius: 12px;
}
@media (max-width: 360px) {
  .card {
    padding: 20px;
    margin-top: 20px;
  }
  .btn {
    font-size: 10px;
  }
  .heading {
    font-size: 18px;
  }
  .smallHeading {
    font-size: 16px;
    line-height: 0px;
  }
  .img {
    margin-top: 18px;
  }
  .md {
    font-weight: 600;
    font-size: 12px;
    line-height: 24px;
    color: #a4a4a4;
    margin-right: 10px;
  }
}
@media (min-width: 1400px) {
  .container {
    max-width: 1253px;
  }
}
