.card {
  box-sizing: border-box;
  border: 1px solid rgba(228, 228, 231, 0.8);
  border-radius: 12px;
  padding: 32px;
  margin-top: 25px;
}
.smallHeading {
  /* font-family: 'Switzer Variable'; */
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: #666666;
}
.heading {
  /* font-family: 'Switzer Variable'; */
  font-style: normal;
  font-weight: 900;
  font-size: 24px;
  line-height: 34px;
}
.md {
  /* font-family: 'Plus Jakarta Sans'; */
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: #a4a4a4;
  margin-right: 20px;
}
.btn {
  box-sizing: border-box;
  padding: 4px 12px;
  height: 26px;
  background: #f7f7f7;
  border: 1px solid #e3e3e3;
  border-radius: 4px;
  font-size: 14px;
  margin-right: 8px;
  font-weight: 400;
}
.img {
  margin-top: 25px;
}
@media (max-width: 360px) {
  .card {
    padding: 20px;
    margin-top: 20px;
  }
  .btn {
    font-size: 10px;
  }
  .heading {
    font-size: 18px;
  }
  .smallHeading {
    font-size: 16px;
    line-height: 0px;
  }
  .img {
    margin-top: 18px;
  }
  .md {
    font-weight: 600;
    font-size: 12px;
    line-height: 24px;
    color: #a4a4a4;
    margin-right: 10px;
  }
}
