.header {
  font-family: "Switzer-Regular";
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 64px;
  text-align: center;
  letter-spacing: 1px;
  color: #000000;
  margin-top: 95px;
}
.faq {
  margin-top: 64px;
}
.link {
  font-family: "Switzer-Regular";
  height: 30px;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 30px;
  color: #000000;
  text-decoration: none;
  letter-spacing: .5px;
}

.hr {
 opacity: 0.1;
}

.ans {
  font-family: "Switzer-Regular";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #000000;
}
.ans ol li{
  font-family: "Switzer-Regular";

}
@media (max-width: 360px) {
  .header {
    font-size: 38px;
    margin-top: 55px;
  }
  .faq {
    margin-top: 50px;
    padding: 15px;
  }
  .link {
    font-size: 14px;
    line-height: 0;
    font-weight: 500;
  }
  .ans {
    font-weight: 400;
    font-size: 12px;
  }
}
@media (min-width: 1400px) {
  .container {
    max-width: 868px;
  }
}