.header {
  font-family: "Switzer Variable";
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 64px;
  text-align: center;
  letter-spacing: -0.002em;
  color: #000000;
  margin-top: 112px;
}
.faq {
  margin-top: 63px;
  padding: 30px;
}
.link {
  font-family: "Switzer Variable";
  height: 30px;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 30px;
  color: #000000;
  text-decoration: none;
}
.link:hover {
  color: none;
}
.hr {
  border: 1px solid #f7f7f7;
}
.ans {
  font-family: "Switzer Variable";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #000000;
}
@media (max-width: 360px) {
  .header {
    font-size: 38px;
    margin-top: 55px;
  }
  .faq {
    margin-top: 50px;
    padding: 15px;
  }
  .link {
    font-size: 14px;
    line-height: 0;
    font-weight: 500;
  }
  .ans {
    font-weight: 400;
    font-size: 12px;
  }
}
