.header {
  background-image: url("../public/heroHeader.png");
  box-shadow: 0px 1px 0px rgba(227, 227, 227, 0.5);
  height: 500px;
  position: relative;
}
.heading {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}
.heading h1 {
  font-family: "Switzer Variable";
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  letter-spacing: -0.005em;
  color: #000000;
}
.subTitle {
  font-family: "Switzer Variable";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  color: #767676;
}
.craft {
  font-family: "Switzer Variable";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 26px;
  color: #000000;
}

@media (max-width: 360px) {
  .header {
    height: 200px;
    background-image: none;
    box-shadow: none;
  }
  .heading {
    margin: 0;
    top: 0;
    left: 0;
    -ms-transform: none;
    transform: none;
    text-align: none;
    margin-top: 40px;
    padding: 30px;
  }
  .heading h1 {
    font-size: 18px;
  }
  .subTitle {
    font-size: 12px;
  }
  .craft {
    font-size: 10px;
  }
}
