.nav {
  height: 80px;
  box-shadow: 0px 1px 0px rgba(227, 227, 227, 0.5);
  width: 100%;
}
.logo {
  margin-left: 48px;
}
.menu {
  margin-right: 49px;
}

.Link {
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: #000000;
  text-decoration: none;
  margin-right: 9px;

}
.Link a {
  font-family: "Switzer-Variable";
  color: #000000;
}
.btn {
  width: 141px;
  height: 40px;
  background: linear-gradient(90deg, #d33851 0%, #f83b41 100%);
  border-radius: 8px;
  font-weight: 600;
  font-family: "Switzer-Variable";
  color: #ffffff;
}
@media (min-width: 1400px) {
  .nav {
    max-width: 1295px;
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  .nav {
    height: 80px;
    /* background: #ffffff; */
  }
}
